<%- include ('../partials/header') %>
<%- include ('../partials/menuLogin') %>

<html>
    <head>
        <title style="position: center;">Quise</title>
      </head>
      <style>
        h1 {
          text-align: center;
        }
        
        h2 {
          text-align: center;
        }
        
        h3 {
          text-align: center;
        }
        </style>
      
      <body>
      
        <h1>
            <button type="Submit"></button>
        </h1>

      </body>
</html>

<%- include ('../partials/footer') %>