<%- include ('../partials/header') %>
  <%- include ('../partials/menuLogin') %>
  <main>
    <div class="container-fluid">
      <!DOCTYPE html>
      <html>
      <style>
        div {
          background: linear-gradient(to bottom, #33ccff 0%, #ffd700 100%)
        }
      </style>

      <body>
        <br>
        <br>
        <center>
          <MARQUEE style="FILTER: wave(add=5,phase=3,freq=2,strength=10)" scrollAmount=2 scrollDelay=5 direction=up
            width=1200 height=300>
            <FONT style="FONT-SIZE: 50px; FONT-FAMILY: monospace">
              <CENTER><B>
                  <FONT color=dodgerblue>Welcome to Sciquiz!</FONT>
                </B></CENTER>
            </FONT>
          </MARQUEE>
        </center>
        <br>
        <br>
        <br>
        <center>
          <h1 style="font-family: monospace; color:Tomato;">Login</h1>
        </center>
        <center>
          <form action="/login" method="POST">
            <label for="username"></label><br>
            <input type="text" id="username" size="50" placeholder="Enter Username" name="username" value=""><br>
            <br>
            <label for="password"><b></b></label>
            <input type="password" size="50" placeholder="Enter Password" name="password" required>
            <br>
            <br>
            <button type="submit">Submit</button>
          </form>
        </center>
        <p></p>
        <center><button>
            <a href="/register">
              Don't Have an Account? Register Here!
            </a>
          </button></center>

      </body>

      </html>

    </div>
  </main>

    <%- include ('../partials/footer') %>